* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Pixelify Sans', Arial, Helvetica, sans-serif;
}

/* Nav Bar Normal */

.header__main {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #018b60;
  background-color: #018b60;
  border-bottom: 0.4em solid #018b60;
  z-index: 99;
}

.site__title {
  padding: 0 5px;
  text-decoration: none;
  color: #fff;
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

/* Nav Items Text */

.list__item {
  text-decoration: none;
  padding: 5px 15px;
  color: #ffffff;
  transition: 0.1s ease-in;
  text-align: center;
  font-size: 1.2rem;
}

.list__item:hover {
  color: #000000;
  cursor: pointer;
}

.list__item:active {
  color: #7878fa;
}

/* Nav Items Icon */

.navbar__icon {
  display: none;
}

.list__item__icon {
  text-decoration: none;
  padding: 5px 15px;
  color: #018b60;
  transition: 0.1s ease-in;
  text-align: center;
  font-size: 1.5rem;
}

.list__item__icon:hover {
  color: #00ba7f;
}

/* Footer */
footer {
  border-top: 0.3em solid #018b60;
  display: flex;
  background-color: #018b60;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  height: 10vh;
  color: #fff;
  font-size: 1.5rem;
  height: 60px;
  margin-top: 20px;
}

/*About Me */

.about__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: 91vh;
  width: 80%;
}

.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.about__content p {
  padding: 15px;
  margin-left: 20px;
  font-size: 1.5rem;
}

.about__image {
  border-radius: 50%;
}
.about__icons__container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.about__icons__container i {
  font-size: 6rem;
  padding: 0 10px;
  color: #018b60;
  margin: 0 30px;
  margin-top: 120px;
}

/* Nav Icons */

.fa-html5 {
  transition: 0.3s ease-in-out;
}

.fa-html5:hover {
  transform: scale(1.2);
  color: #e34c26;
}

.fa-css3-alt {
  transition: 0.3s ease-in-out;
}

.fa-css3-alt:hover {
  transform: scale(1.2);
  color: #2965f1;
}

.fa-js {
  transition: 0.3s ease-in-out;
}

.fa-js:hover {
  transform: scale(1.2);
  color: #f0db4f;
}

.fa-react {
  transition: 0.3s ease-in-out;
}

.fa-react:hover {
  transform: scale(1.2);
  color: #04d8f9;
}

/* Contact Page */

.contact__container {
  height: 91vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__form {
  display: flex;
  flex-direction: column;
}

/* Media Queries */

@media screen and (max-width: 630px) {
  .navbar {
    display: none;
  }
  .navbar__icon {
    display: flex;
  }
}
