*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

/* Nav Bar Normal */

.header__main{
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #018b60;
  border-bottom: 0.4em solid #018b60;
}

.site__title{
  padding: 0 5px;
  text-decoration: none;
  color: #018b60;
}

.nav__list{
  list-style: none;
  display: flex;
  flex-direction: row;
}


/* Nav Items Text */

.list__item{
  text-decoration: none;
  padding:5px 15px;
  color: #018b60;
  transition: 0.1s ease-in;
  text-align: center;
}

.list__item:hover{
  color:#00ba7f;  
}

.list__item:active{
  color: #7878fa;
}

/* Nav Items Icon */

.navbar__icon{
  display: none;
}

.list__item__icon{
  text-decoration: none;
  padding:5px 15px;
  color: #018b60;
  transition: 0.1s ease-in;
  text-align: center;
  font-size: 1.5rem;
}

.list__item__icon:hover{
  color:#00ba7f;
}

/* Media Queries */

@media screen and (max-width: 630px) {
  .navbar{
    display: none;
  }
  .navbar__icon{
    display: flex;
  }
  
}