* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* Nav Bar Normal */

.header__main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #018b60;
  background-color: #018b60;
  border-bottom: 0.4em solid #018b60;
  z-index: 99;
  height: 10vh;
}

.site__title {
  padding: 0 5px;
  text-decoration: none;
  color: #fff;
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

/* Nav Items Text */

.list__item {
  text-decoration: none;
  padding: 5px 15px;
  color: #ffffff;
  transition: 0.1s ease-in;
  text-align: center;
  font-size: 1.2rem;
}

.list__item:hover {
  color: #000000;
  cursor: pointer;
}

.list__item:active {
  color: orange;
}

/* Footer */
footer {
  border-top: 0.3em solid #018b60;
  display: flex;
  background-color: #018b60;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  height: 10vh;
}

/*About Me */

.about__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: 80vh;
  width: 80%;
}

.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.about__content p {
  padding: 15px;
  margin-left: 20px;
  font-size: 1.5rem;
}

.about__message__link {
  text-decoration: none;
  color: #018b60;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.about__message__link:hover {
  color: #000000;
}

.about__message__link:active {
  color: orange;
}

.about__image {
  border-radius: 50%;
}
.about__icons__container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__icons__container i {
  font-size: 6rem;
  padding: 0 10px;
  color: #018b60;
  margin: 0 30px;
  margin-top: 50px;
}

/* Nav Icons */

.fa-html5 {
  transition: 0.3s ease-in-out;
}

.fa-html5:hover {
  transform: scale(1.2);
  color: #e34c26;
}

.fa-css3-alt {
  transition: 0.3s ease-in-out;
}

.fa-css3-alt:hover {
  transform: scale(1.2);
  color: #2965f1;
}

.fa-js {
  transition: 0.3s ease-in-out;
}

.fa-js:hover {
  transform: scale(1.2);
  color: #f0db4f;
}

.fa-react {
  transition: 0.3s ease-in-out;
}

.fa-react:hover {
  transform: scale(1.2);
  color: #04d8f9;
}

/* Contact Page */

.contact__container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__form {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.contact__image {
  padding: 50px;
}

.form__label {
  font-size: 1.5rem;
  padding: 10px;
}

.form__input {
  font-size: 1.5rem;
  border-radius: 4px;
  border: none;
  background-color: #d2d2d2;
}

.form__input:focus {
  background-color: #fff;
}

.form__message {
  font-size: 1.5rem;
  border-radius: 4px;
  border: none;
  background-color: #d2d2d2;
}

.form__message:focus {
  background-color: #fff;
}

.form__submit {
  margin-top: 10px;
  font-size: 1.5rem;
  transition: 0.3s ease-in-out;
  border-radius: 4px;
}

.form__submit:hover {
  background-color: #018b60;
  color: #fff;
}

/* Media Queries */
